{% extends 'main/base.html' %}

{% block content %}

<h1> FAQ </h1>

<h3>1. How do i create an account?</h3>
<p>To create an account, visit our website or app and look for the "Sign Up" option. You'll need to provide your personal information, such as your name, email address, and a password. Follow the on-screen instructions to complete the registration process. </p>

<h3>2. What should i do if i forgot my password or username?</h3>
<p>If you forget your password or username, click on the "Forgot Password" or "Forgot Username" link on the login page. Follow the prompts to reset your password or retrieve your username. </p>

<h3>3. How do i submit my homework assignments?</h3>
<p>Homework assignments can typically be submitted through our platform. Log in to your account, navigate to the relevant course or assignment, and follow the instructions provided for submitting your homework. This might involve uploading files, typing in text, or following other specific guidelines set by your instructor.</p>

<h3>4. What file formats are accepted for homework submission?</h3>
<p>Accepted file formats for homework submission can vary, but commonly supported formats include PDF, Microsoft Word documents (DOC or DOCX), and sometimes image files (JPG, PNG). Always check the specific requirements for each assignment, as instructors may have preferences.
</p>

<h3>5. How can i confirm my homework has been successfully submitted?</h3>
<p>Check the assignment submission history in your account to verify that your submission is recorded. If in doubt, reach out to your instructor or course administrator for confirmation.</p>

<h3>6. How can i check the status or feedback on my submitted homework?</h3>
<p>To check the status or receive feedback on your submitted homework, log in to your account and access the specific course or assignment. Instructors typically provide grades and feedback within the platform. Look for your graded assignment or feedback notifications.</p>

<h3>7. How can i schedule a meeting with my professor or a classmate?</h3>
<p>You can usually schedule meetings with your professor or classmates through the communication tools provided in our platform. These tools might include messaging, email, or a scheduling feature. Reach out to your desired contact and propose a meeting time that works for both parties.</p>

{% endblock %}